.dashboard {
  display: block;
  width: 100%;
  .row {
    .col {
      border: none;
      padding-left: 20px;
      float: left;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding-bottom: 20px;
      .content {
        border: 1px solid $accent;
        border-radius: 5px;
        padding: 20px;
        &.stats {
          text-align: center;
        }
      }
      &:first-of-type {
        padding-left: 0;
      }
      &.col-1-1 { width: 100%; }
      &.col-3-4 { width: 75%; }
      &.col-2-3, &.col-8-12 { width: 66.66%; }
      &.col-1-2, &.col-6-12 { width: 50%; }
      &.col-1-3, &.col-4-12 { width: 33.33%; }
      &.col-1-4, &.col-3-12 { width: 25%; }
      &.col-1-5 { width: 20%; }
      &.col-1-6, &.col-2-12 { width: 16.667%; }
      &.col-1-7 { width: 14.28%; }
      &.col-1-8 { width: 12.5%; }
      &.col-1-9 { width: 11.1%; }
      &.col-1-10 { width: 10%; }
      &.col-1-11 { width: 9.09%; }
      &.col-1-12 { width: 8.33% }
      canvas{
        display: block;
        width: 100% !important;
        height: auto !important;
        margin-right: 10px;
      }
    }
  }
  h2 {
    font-family: "museo-slab", serif;
    margin-top: 0;
    font-size: 68px;
    color: $highlight;
    font-weight: 300;
  }
  h3 {
    margin-top: 10px;
    font-size: 16px;
    color: #999999;
    font-weight: 500;
  }
}