.dashboard {
  display: inline-block;
  width: 100%;
  .row {
    .col {
      border: none;
      padding-left: 20px;
      float: left;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding-bottom: 20px;
      .content {
        background: #ffffff;
        border-radius: 5px;
        padding: 35px;
        h1 {
          color: #f34939;
        }
      }
      &:first-of-type {
        padding-left: 0;
      }
      &.col-1-1 { width: 100%; }
      &.col-3-4 { width: 75%; }
      &.col-2-3, &.col-8-12 { width: 66.66%; }
      &.col-1-2, &.col-6-12 { width: 50%; }
      &.col-1-3, &.col-4-12 { width: 33.33%; }
      &.col-1-4, &.col-3-12 { width: 25%; }
      &.col-1-5 { width: 20%; }
      &.col-1-6, &.col-2-12 { width: 16.667%; }
      &.col-1-7 { width: 14.28%; }
      &.col-1-8 { width: 12.5%; }
      &.col-1-9 { width: 11.1%; }
      &.col-1-10 { width: 10%; }
      &.col-1-11 { width: 9.09%; }
      &.col-1-12 { width: 8.33% }
      canvas{
        display: block;
        width: 100% !important;
        height: auto !important;
        margin-right: 10px;
      }
      @media (max-width: 850px) {
        &.col-1-4, &.col-3-12 {
          width: 50%;
          &:nth-of-type(3n) {
            padding-left: 0;
          }
        }
      }
      @media (max-width: 650px) {
        &.col {
          width: 100%;
          padding: 0 0 20px 0;
        }
      }
    }
  }
  .activity {
    display: inline-block;
    margin-bottom: 20px;
    .user-icon {
      float: left;
      display: inline-block;
      margin-right: 20px;
    }
    .details {
      overflow: hidden;
      p {
        margin: 0;
      }
      .date {
        display: inline-block;
        margin-top: 5px;
        font-size: 12px;
        color: #bec0c0;
      }
    }
  }
  .project-details {
    td {
      line-height: 36px;
      text-transform: capitalize;
      strong {
        color: #354052;
        font-weight: normal;
        margin-right: 40px;
      }
    }
  }
}
.statistics {
  background: #ffffff;
  border-radius: 3px;
  text-align: center;
  display: inline-block;
  width: 100%;
  clear: both;
  margin-bottom: 20px;
  .statistic {
    width: 25%;
    display: inline-block;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    .content {
      padding: 75px 25px;
      border-left: 1px solid #e4e4e4;
      &.first {
        border: none;
      }
      h2 {
        font-family: "museo-slab", serif;
        margin-top: 0;
        font-size: 68px;
        color: $highlight;
        font-weight: 900;

        &.red { color: #f34939; }
        &.green { color: #39d1b4; }
        &.blue { color: #8bcedc; }
        &.yellow { color: #fdb45c; }
      }
      h3 {
        margin-top: 10px;
        font-size: 16px;
        color: #999999;
        font-weight: 500;
      }
      label {
        font-family: "museo-slab", serif;
        font-size: 18px;
        font-weight: 300;
        color: #929191;
        padding: 0;
        margin: 0;
      }
    }
  }
  @media (max-width: 1000px) {
    .statistic {
      width: 50%;
      display: block;
      .content {
        &.third {
          border-left: none;
          border-top: 1px solid #e4e4e4;
        }
        &.fourth {
          border-top: 1px solid #e4e4e4;
        }
      }
    }
  }
  @media (max-width: 650px) {
    .statistic {
      width: 100%;
      .content {
        &.second {
          border-left: none;
          border-top: 1px solid #e4e4e4;
        }
        &.fourth {
          border-left: none;
        }
      }
    }
  }
}