.error-status {
  text-align: center;
  .oh-no {
    font-size: 200px;
    color: #ccc;
    margin-bottom: 40px;
  }
  h1 {
    font-size: 72px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 22px;
    font-weight: 500;
    margin: 0 0 50px 0;
    color: #333;
  }
  p {
    color: #888;
    max-width: 600px;
    display: inline-block;
    margin: 0 auto;
    a {
      color: #888;
      border-color: #888;
      &:hover {
        color: #333;
        border-color: #333;
      }
    }
  }
}