#main.help {
    p, section {
        max-width: 800px;
        ul {
            li {
                margin-left: 20px;
                list-style-type: circle;
                line-height: 24px;
            }
        }
    }
}
