section {
  max-width: 722px;
  border-top: 1px dotted $accent;
  margin-top: 20px;
  h2 {
    margin: 20px 0 15px;
  }
  .details {
    margin: 20px 0;
    li {
      display: inline-block;
      min-width: 40%;
      max-width: 40%;
      margin-right: 10px;
      line-height: 30px;
      strong {
        background: $accent;
        padding: 3px 5px;
      }
    }
  }
  .attachments {
    li {
      line-height: 36px;
    }
    i {
      margin-right:5px;
    }
  }
    .update {
      display: block;
      border: 1px solid #cccccc;
      border-left: 5px solid #bbbbbb;
      padding: 10px;
      margin: 10px 0 15px;
      border-radius: 3px;
      &.status {
        background: #f6f6f6;
      }
      &:hover {
        border-color: #999;
        opacity: 1.0;
      }
      .timestamp {
        margin-top: 1px;
        z-index: 2;
        float: right;
        font-size: 12px;
        display: none;
        color: #ccc;
        border-radius: 3px;
      }
      &:hover .timestamp {
        display: inline-block;
      }
      h3 {
        i {
          color: #999999;
        }
        color: #333;
        margin:0;
        em {
          font-weight: 600;
          color: #999999;
        }
      }
      p {
        margin: 10px 0 0 0;
        color: #666;
      }
      .tag {
        font-size: 12px;
        background: $highlight;
        color: $background;
        padding: 3px 5px;
        border-radius: 5px;
      }
    }

}