.photo {
  background: url('/images/login-photo.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.login {
  background: #222629;
  color: $background;
  text-align: center;
  position: static;
  margin: 20px auto;
  padding: 20px;
  width: 260px;
  height: auto;
  border-radius: 5px;
  form {
    text-align: left;
    label {
      display: block;
      text-align: left;
      margin: 10px 0;
      .checkbox {
        background: #f60;
      }
    }
    input {
      display: block;
      padding: 10px;
      margin-bottom: 10px;
      border: none;
      min-width: 0;
      width: 100%;

      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box;    /* Firefox, other Gecko */
      box-sizing: border-box;         /* Opera/IE 8+ */
    }
    input[type='submit'] {
      padding: 10px;
      margin-top: 10px;
      background: $highlight;
      color: $background;
      cursor: pointer;
      &:hover {
        background: $tertiary;
      }
    }
    input[type='checkbox'] {
      margin-top: 10px;
      width: auto;
      display: inline-block;
    }
    span {
      font-size: 12px;
      &.remember {
        display: inline;
        margin-left: 2px;
      }
      &.extra {
        color: #cccccc;
        margin-left: 10px;
      }
    }
  }
}