h1 {
  font-size: 32px;
  color: $highlight;
  margin-bottom: 20px;
  em {
    color: #999999;
  }
}
h2 {
  font-size: 20px;
  color: $foreground;
  font-weight: 700;
  margin: 30px 0 10px 0;
}
h3 {
  font-size: 12px;
  margin: 0 0 10px;
  strong {
    color: $highlight;
  }
}
p {
  line-height: 16px;
  margin-bottom: 15px;
}
strong {
  font-weight: 700;
}
a {
  color: $foreground;
  text-decoration: none;
  border-bottom: 1px dotted $foreground;
  &:hover {
    color: #8BCEDC;
    border-color: #8BCEDC;
  }
}