h1 {
  font-size: 32px;
  font-weight: 900;
  color: #354052;
  margin-top: 0;
  margin-bottom: 10px;
  clear: left;
  em {
    font-size: 22px;
    color: #999999;
  }
}
h2 {
  font-size: 20px;
  color: #354052;
  font-weight: 700;
  margin: 30px 0 10px 0;
}
h3 {
  font-size: 14px;
  margin: 0 0 10px;
  font-weight: bold;
  strong {
    color: $highlight;
  }
}
p {
  line-height: 20px;
  margin-bottom: 15px;
}
strong {
  font-weight: 700;
}

a {
  color: #888888;
  text-decoration: none;
  border-bottom: 1px dotted #888888;
  &:hover {
    color: #354052;
    border-color: #354052;
  }
}