APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file

AZURE_ACCOUNT_NAME=azure
AZURE_STORAGE_KEY=primarykey

MAIL_HOST=
MAIL_DRIVER=
MAIL_DOMAIN=
MAIL_USER=
MAIL_PASS=
MAIL_SECRET=
