html, body {
  height: 100%;
}
body {
  font-family: "museo-slab", serif;
  font-weight: 300;
  font-size: 14px;
  background: $background;
}
.sponge-logo {
  width: 150px;
  margin: 30px 0 50px;
}
.project-info {
  margin-top: 30px;
  display: block;
  li {
    font-weight: 700;
    strong {
      background: $primary;
      color: $background;
      padding: 5px;
      line-height: 30px;
      margin-right: 10px;
    }
  }
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px dotted #ccc;
  margin: 1em 0;
  padding: 0;
}