html, body {
  height: 100%;
  -webkit-appearance: none;
}
body {
  font-size: 14px;
  background: $background;
}
.sponge-logo {
  width: 150px;
  margin: 30px 0;
}
ul {
  &.standard {
    li {
      list-style-type: circle;
      line-height: 26px;
      margin-left: 20px;
    }
  }
}
.project-info {
  margin-top: 30px;
  display: block;
  li {
    font-weight: 700;
    strong {
      background: $primary;
      color: $background;
      padding: 5px;
      line-height: 30px;
      margin-right: 10px;
    }
  }
}

.info-box {
  border: 1px dashed $foreground;
  display: inline-block;
  float: right;
  padding: 10px;
  min-width: 250px;
  max-width: 450px;
  margin: 0 0 10px 10px;
  clear: both;
  hr {
    margin: 0.5em 0;
    border-style: dashed;
  }
  li {
    line-height: 24px;
    strong {
      background: $primary;
      color: $background;
      padding: 5px;
      line-height: 30px;
      margin-right: 10px;
    }
  }
  table {
    td {
      line-height: 20px;
      padding:  5px 10px;
    }
  }
  @media (max-width: 950px) {
    float: none;
    margin: 20px 0 0 0;
    padding: 10px 0;
    border: none;
    display: block;
    width: 100%;
    max-width: none;
    table {
      width: 100%;
      td {
        line-height: 26px;
        display: block;
        padding: 0;
        strong {
          font-size: 16px;
        }
      }
    }
  }
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px dotted #ccc;
  margin: 1em 0;
  padding: 0;
}