form {
  //margin-top: 30px;
  max-width: 700px;
}
input, textarea {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 30px;
  border: 1px solid #dddddd;
  padding: 10px;
  margin-bottom: 10px;
  min-width: 300px;
  outline: none;
  border-radius:3px;
  &.error {
    border-color: $highlight;
  }
  &:focus {
    border-color: $tertiary;
    outline: none;
  }
  &.short {
    min-width: 0;
    width: 50px;
  }
}
label {
  display: block;
  margin: 20px 0 10px 0;
  font-weight:600;
  &:first-of-type {
    margin-top: 0;
  }
  &.radio {
    font-weight: 300;
    display: inline;
    margin: 0 10px 0 3px;
  }
}
input {
  display: inline-block;
  &.filter {
    clear: left;
    float: right;
  }
  &.filter {
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 20px;
    padding: 12px 12px 12px 40px;
    background: #ffffff url('/images/magnify.png') 12px center no-repeat;
    background-size: 19px 18px;
    color: #666;
    @media (max-width: 1000px) {
      min-width: 200px;
    }
    @media (max-width: 800px) {
      width: 100%;
      display: block;
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box;    /* Firefox, other Gecko */
      box-sizing: border-box;         /* Opera/IE 8+ */
    }
  }
  &[type='radio'], &[type='checkbox'] {
    min-width: 0;
  }
  &[type='submit'] {
    &:hover {
      background: $tertiary;
    }
  }
  &[type='file'] {
    padding: 10px;
    width: 100%;
  }
}
select {
  font-size: 16px;
  display: inline-block;
  min-width: 250px;
  padding: 5px;
}
textarea {
  width: 100%;
  min-height: 100px;
  line-height: 22px;
}
.group {
  &.full {
    clear: both;
    display: block;
    float: none;
  }
  &.small {
    float: left;
    margin-right: 100px;
  }
}
span.error {
  display: block;
  color: $highlight;
  padding-bottom: 10px;
  font-size: 90%;
}