form {
  margin-top: 30px;
}
input, textarea {
  font-family: "museo-slab", serif;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 30px;
  border: 1px solid #dddddd;
  padding: 10px;
  margin-bottom: 10px;
  min-width: 300px;
  outline: none;
  border-radius:3px;
  &:focus {
    border-color: $tertiary;
    outline: none;
  }
}
label {
  display: block;
  margin: 20px 0 10px 0;
  font-weight:500;
  &.radio {
    font-weight: 300;
    display: inline;
    margin: 0 10px 0 3px;
  }
}
input {
  display: inline-block;
  &.filter {
    clear: left;
    float: right;
  }
}
button {
  font-family: "museo-slab", serif;
  font-size: 12px;
  &[type='submit'] {
    min-width: 0;
    margin-top: 10px;
    padding: 7px 8px;
    display: inline-block;
    background: $highlight;
    color: $background;
    border: none;
    cursor: pointer;
    &:hover {
      background: $tertiary;
    }
  }
}
select {
  display: inline-block;
  min-width: 200px;
  text-indent: 5px;
}
textarea {
  width: 100%;
  max-width: 700px;
  min-height: 100px;
  line-height: 22px;
}
.group {
  &.full {
    clear: both;
    display: block;
    float: none;
  }
  &.small {
    float: left;
    margin-right: 100px;
  }
}