form {
  margin-top: 30px;
}
input, textarea {
  font-family: "museo-slab", serif;
  margin-bottom: 30px;
}
label {
  display: block;
  margin: 20px 0 5px 0;
  font-weight:600;
  &.radio {
    font-weight: 300;
    display: inline;
    margin: 0 10px 0 3px;
  }
}
input {
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  min-width: 200px;
  padding: 10px 0;
  margin-bottom: 10px;
  &.filter {
    clear: left;
    float: right;
  }
}
input[type='text'] {
  border: none;
  border-bottom: 2px dotted #cccccc;
  width: 350px;
  outline: none;
  &:focus {
    border-color: $tertiary;
    outline: none;
  }
}
button {
  font-family: "museo-slab", serif;
  font-size: 12px;
  &[type='submit'] {
    min-width: 0;
    margin-top: 10px;
    padding: 7px 8px;
    display: inline-block;
    background: $highlight;
    color: $background;
    border: none;
    cursor: pointer;
    &:hover {
      background: $tertiary;
    }
  }
}
select {
  display: inline-block;
  min-width: 200px;
  text-indent: 5px;
}
textarea {
  width: 100%;
  max-width: 800px;
  min-height: 100px;
  padding: 10px 0;
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  border: none;
  border-bottom: 2px dotted #cccccc;
  //border-radius: 3px;
  outline: none;
  &:focus {
    border-color: $tertiary;
  }
}
.group {
  &.full {
    clear: both;
    display: block;
    float: none;
  }
  &.small {
    float: left;
    margin-right: 100px;
  }
}