form {
  margin-top: 30px;
}
input, textarea {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 30px;
  border: 1px solid #dddddd;
  padding: 10px;
  margin-bottom: 10px;
  min-width: 300px;
  outline: none;
  border-radius:3px;
  &:focus {
    border-color: $tertiary;
    outline: none;
  }
}
label {
  display: block;
  margin: 20px 0 10px 0;
  font-weight:600;
  &.radio {
    font-weight: 300;
    display: inline;
    margin: 0 10px 0 3px;
  }
}
input {
  display: inline-block;
  &.filter {
    clear: left;
    float: right;
  }
  &.filter {
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 20px;
  }
  &[type='radio'], &[type='checkbox'] {
    min-width: 0;
  }
  &[type='submit'] {
    &:hover {
      background: $tertiary;
    }
  }
}
select {
  display: inline-block;
  min-width: 250px;
}
textarea {
  width: 100%;
  max-width: 700px;
  min-height: 100px;
  line-height: 22px;
}
.group {
  &.full {
    clear: both;
    display: block;
    float: none;
  }
  &.small {
    float: left;
    margin-right: 100px;
  }
}