#main header {
  width: 100%;
  display: inline-block;
  clear: both;
  margin: 20px 0;
  font-size: 13px;
  .crumbtrail {
    float: left;
    vertical-align: bottom;
    margin-bottom: 10px;
    a {
      color: #354052;
      border: none;
      &:hover {
        border-bottom: 1px dotted #354052;
      }
    }
    .fa {
      font-size: 11px;
      padding: 0 3px;
    }

  }
  .signout {
    display: inline-block;
    float: right;
  }

}