#main {
  margin-left: 300px;
  padding: 20px 30px;
  .project-preview {
    width: 31%;
    margin-right: 2%;
    margin-top: 20px;
    display: inline-block;
    border: 1px solid $highlight;
    border-radius: 5px;
    h3 {
      font-size: 16px;
      background: $highlight;
      color: $background;
      padding: 10px;
      margin: 0;
    }
    p {
      padding: 10px;
    }
    ul {
      padding: 10px;
      line-height: 20px;
    }
    &:nth-of-type(3n) {
      margin: 0;
    }
    .actions {
      padding: 0 10px 20px 10px;
    }
  }
}