//noinspection ALL
nav {
  background: #354052;
  width: 230px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  color: $background;
  text-align: center;
  .sponge-logo {
    margin: 45px 0;
  }
  ul {
    cursor: pointer;
    li {
      padding: 20px 30px;
      font-size: 16px;
      text-align: left;
      list-style-type: none;
      font-weight: 300;
      margin-right: 3px;
      i {
        width: 40px;
      }
      &:hover {
        background: #39d1b4;
      }
    }
  }
  a {
    color: $background;
    text-decoration: none;
    &:hover {
      color: $background;
    }
  }
  .resizer {
    height: 100%;
    width: 16px;
    background: #ffffff;
    opacity: 0;
    position: absolute;
    top: 0;
    right: -16px;
    opacity: 1;
    background: url('/images/dot-tile.png') repeat-y;
    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) {
      background: url('/images/dot-tile@2x.png') repeat-y;
      background-size: 16px 13px;
    }
    float:right;
    cursor: col-resize;
  }
  @media (max-width: 1000px) {
    width: 75px;
    span {
      display: none;
    }
    .sponge-logo {
      display: none;
    }
  }
}