//noinspection ALL
nav {
  background: #222629;
  width: 300px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  color: $background;
  text-align: center;
  ul {
    cursor: pointer;
    li {
      padding: 20px 30px;
      font-size: 18px;
      text-align: left;
      list-style-type: none;
      i {
        width: 40px;
      }
      &:hover {
        background: $highlight;
      }
    }
  }
  a {
    color: $background;
    text-decoration: none;
    &:hover {
      color: $background;
    }
  }
  .resizer {
    height: 100%;
    width: 10px;
    background: #ffffff;
    opacity: 0;
    position: absolute;
    top: 0;
    right: -5px;
    float:right;
    cursor: col-resize;
  }
  @media (max-width: 1250px) {
    width: 220px;
  }
  @media (max-width: 1000px) {
    width: 80px;
    padding-top: 10px;
    span {
      display: none;
    }
    .sponge-logo {
      display: none;
    }
  }
}