.printable {
  padding: 1em;
  font-size: 0.8em;
  h1 {
    font-size: 1.2em;
  }
  h3 {
    font-size: 0.8em;
  }
  ul {
    li {
      list-style-type: circle;
      margin-left: 20px;
      line-height: 20px;
    }
  }
}
