.printable {
  padding: 12pt;
  font-size: 11pt;
  h2 {
    color: $highlight;
    font-size: 14pt;
    margin: 0 0 10pt 0;
  }
  h3 {
    font-size: 12pt;
    font-weight: bold;
  }
  ul {
    li {
      list-style-type: circle;
      margin-left: 20px;
      line-height: 20px;
    }
  }
  hr {
    margin: 10px 0;
  }
}
