table.full {
  width: 100%;
  margin-top: 20px;
  th, td {
    padding: 10px;
    text-align: left;
  }
  th {
    font-weight: 700;
    min-width: 50px;
  }
  td {
    &.priority {
      border-right: 5px solid #e6e6e6;
      &.high {
        border-color: $highlight;
      }
      &.medium {
        border-color: #FEBD19;
      }
      &.low {
        border-color: #8BCEDC;
      }
    }
  }
  tr {
    background: #eeeeee;
    border-radius: 5px;
    &.head {
      background: none;
      &:hover {
        background: none;
      }
    }
    &:nth-of-type(2n) {
      background: #ffffff;
    }
    &:hover {
      background: #dddddd;
    }
    &.resolved {
      background: none;
      opacity: 0.3;
      &:hover {
        background: #dddddd;
        opacity: 1;
      }
      td {
        &.priority {
          border: none;
        }
      }
    }
  }
}
.info-box {
  border: 1px dashed $foreground;
  display: inline-block;
  float: right;
  padding: 10px;
  min-width: 250px;
  margin: 0 0 10px 10px;
  clear: both;
  hr {
    margin: 0.5em 0;
    border-style: dashed;
  }
  li {
    line-height: 24px;
    strong {
      background: $primary;
      color: $background;
      padding: 5px;
      line-height: 30px;
      margin-right: 10px;
    }
  }
  table {
    td {
      padding: 10px;
    }
  }
}
table.details {

}