.table-head {
  background: #f6f6f6;
  display: block;
  margin-top: 20px;
  border: 1px solid #ddd;
}
table.full {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  th, td {
    padding: 15px;
    text-align: left;
  }
  th {
    font-weight: 700;
    min-width: 0;
    &.select {
      min-width: 0;
      width: 50px;
      padding: 0;
      text-align: center;
    }
    &.priority {
      min-width: 5px;
      width: 5px;
    }
  }
  td {
    vertical-align: middle;
    span {
      i {
        margin-left: 10px;
        &:first-of-type {
          margin: 0;
        }
      }
      &.type {
        font-weight: bold;
        display: block;
        margin-bottom: 10px;
      }
      &.description, &.group {
        margin-bottom: 10px;
        display: block;
      }
      &.group {
        color: #666;
      }
      &.status {
        color: #666;
      }
      &.details, &.user {
        font-size: 12px;
        display: block;
        color: #666;
      }
    }
    &.reference {

    }
    &.details {
      min-width: 400px;
    }
    &.select {
      width: 50px;
      padding: 0;
      text-align: center;
    }
    &.priority {
      background: #e6e6e6;
      max-width: 5px;
      min-width: 5px;
      width: 5px;
      &.High {
        background: $highlight;
      }
      &.Medium {
        background: #FEBD19;
      }
      &.Low {
        background: #8BCEDC;
      }
    }
  }
  tr {
    background: #ffffff;
    border-bottom: 1px solid #ddd;
    &.head {
      background: #f6f6f6;
      border-radius: 5px;
    }
    &:hover {
      background: #f6f6f6;
    }
    &.closed {
      background: none;
      opacity: 0.3;
      &:hover {
        background: #dddddd;
        opacity: 1;
      }
      td {
        &.priority {
          border: none;
        }
      }
    }
  }

  @media (max-width: 650px) {
    margin-top: 30px;
    tr.head {
      display: none;
    }
    tr {
      padding: 10px 0;
    }
    td {
      display: block;
      width: 100%;
      padding: 5px 12px;
      line-height: 24px;
      &.name, &.reference, &.client {
        font-weight: bold;
      }
      &.version, &.date, &.priority, &.project_count, &.stub, &.issues, &.project_manager {
        display: none;
      }
    }
  }
}