table.full {
  width: 100%;
  margin-top: 20px;
  th, td {
    padding: 10px;
    text-align: left;
  }
  th {
    font-weight: 700;
    min-width: 50px;
  }
  td {
    &.priority {
      border-right: 5px solid #e6e6e6;
      &.High {
        border-color: $highlight;
      }
      &.Medium {
        border-color: #FEBD19;
      }
      &.Low {
        border-color: #8BCEDC;
      }
    }
  }
  tr {
    background: #eeeeee;
    border-radius: 5px;
    &.head {
      background: none;
      &:hover {
        background: none;
      }
    }
    &:nth-of-type(2n) {
      background: #ffffff;
    }
    &:hover {
      background: #dddddd;
    }
    &.closed {
      background: none;
      opacity: 0.3;
      &:hover {
        background: #dddddd;
        opacity: 1;
      }
      td {
        &.priority {
          border: none;
        }
      }
    }
  }

  @media (max-width: 650px) {
    margin-top: 30px;
    tr.head {
      display: none;
    }
    tr {
      padding: 10px 0;
    }
    td {
      display: block;
      width: 100%;
      padding: 5px 12px;
      line-height: 24px;
      &.name, &.reference, &.client {
        font-weight: bold;
      }
      &.version, &.date, &.priority, &.project_count, &.stub, &.issues, &.project_manager {
        display: none;
      }
    }
  }
}