a,span, button {
  &.action, &[type='submit'] {
    font-size: 14px;
    font-weight: 600;
    min-width: 70px;
    text-align: center;
    //padding: 6px 8px 6px 8px;
    padding: 12px 30px;
    background: #39d1b4;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    clear: left;
    margin-top: -1px;
    margin-bottom: 4px;
    margin-right: 5px;
    cursor: pointer;
    &.red {
      background: #f34939;
      &:hover {
        background: #f45c4d;
      }
    }
    &.green {
      background: #39d1b4;
      &:hover {
        background: #4dd6bc;
      }
    }
    &.blue {
      background: #8bcedc;
      &:hover {
        background: #97d3e0;
      }
    }
    &.yellow {
      background: #fdb45c;
      &:hover {
        background: #fdbc6d;
      }
    }
    &:hover {
      background: #4dd6bc;
    }
    &.nofill {
      background: none;
      color: #39d1b4;
      border: 1px solid;
      &.red {
        color: #f34939;
        border-color: #f34939;
        &:hover {
          background-color: #f34939;
        }
      }
      &.green {
        color: #39d1b4;
        border-color: #39d1b4;
        &:hover {
          background-color: #39d1b4;
        }
      }
      &.blue {
        color: #8bcedc;
        border-color: #8bcedc;
        &:hover {
          background-color: #8bcedc;
        }
      }
      &.yellow {
        color: #fdb45c;
        border-color: #fdb45c;
        &:hover {
          background-color: #fdb45c;
        }
      }
      &:hover {
        color: #fff;
      }
    }
    &.right {
      float: right;
    }
  }
}
button[type="submit"] {
  margin-top: 20px;
  padding: 9px 30px 10px;
}
/*
button {
  font-size: 11px;
  text-transform: uppercase;
  &[type='submit'] {
    min-width: 0;
    margin-top: 10px;
    padding: 7px 8px;
    display: inline-block;
    background: $highlight;
    color: $background;
    border: none;
    cursor: pointer;
    &:hover {
      background: $tertiary;
    }
  }
}
*/
a,span {
  &.button-dropdown {
    color: #ffffff;
    position: relative;
    cursor: pointer;
    ul {
      min-width: 155px;
      border-top: 1px solid #ffffff;
      position: absolute;
      top: 36px;
      left: 1px;
      display: none;
      z-index: 2;
      text-align: left;
      li {
        padding: 0;
        background: #fdb45c;
        &:hover {
          background: $tertiary;
        }
        a {
          display: inline-block;
          color: #ffffff;
          text-decoration: none;
          border: none;
          padding: 8px;
          width: 100%;
          min-width: 100px;
        }
      }
    }
    &:hover ul {
      display: block;
      margin-left: -1px;
      li {

      }
    }
  }
}