.notify-box {
  background: $secondary;
  color: $background;
  font-size: 14px;
  font-weight: 600;
  width: 350px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  margin: 0 auto;
  padding: 25px 0;
  text-align: center;
  border-radius: 5px;
  cursor: default;
  display: inline-block;
  opacity: 0;
  animation: fadeOut 5s linear forwards;
  &.error{
    background: $highlight;
    color: $background;
  }
  #close-notification {
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 7px;
    color: #ffffff;
    cursor: pointer;
  }
}

@keyframes fadeOut {
  0%  { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; transform: translateY(0px);}
  99% { opacity: 0; transform: translateY(-10px);}
  100% { opacity: 0; }
}

.tip {
  border: 1px solid #ccc;
  border-left-width: 3px;
  background: #f6f6f6;
  margin-bottom: 20px;
  padding: 15px;
  display: inline-block;
}