.notify-box {
  background: $secondary;
  color: $background;
  font-size: 14px;
  font-weight: 600;
  width: 350px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  margin: 0 auto;
  padding: 25px 0;
  text-align: center;
  border-radius: 5px;
  cursor: default;
  display: inline-block;
  opacity: 0;
  animation: fadeOut 5s linear forwards;
  &.error{
    background: $highlight;
    color: $background;
  }
}

@keyframes fadeOut {
  0%  { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; transform: translateY(0px);}
  99% { opacity: 0; transform: translateY(-10px);}
  100% { opacity: 0; }
}