#table-actions {
  margin-top: 500px;
  display: none;
  background: #fff;
  border-top: 1px dotted #222;
  padding: 20px;
  width: 100%;
  position: fixed;
  margin-left: -30px;
  bottom: 0;
  span {
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 12px;
    &#selectedAmount {
      margin: 0;
      font-weight: bold;
    }
  }
  a {
    margin-bottom: 0;
  }
}