#table-actions {
  margin-top: 500px;
  display: none;
  background: #fff;
  border-top: 1px dotted #222;
  padding: 20px;
  width: 100%;
  position: fixed;
  margin-left: -30px;
  bottom: 0;
  span {
    text-transform: uppercase;
    font-size: 12px;
    &#selectedAmount {
      margin: 0;
      font-weight: bold;
    }
  }
  a,span {
    margin-bottom: 0;
    &.button-dropdown {
      font-size: 11px;
      ul {
        top: auto;
        bottom: 100%;
        border-bottom: 1px solid #ffffff;
        border-top: none;
      }
    }
  }
  a {
      padding-bottom: 7px;
  }
}
