#table-actions {
  margin-top: 500px;
  display: none;
  background: #fff;
  border-top: 1px solid #f3f2f2;
  padding: 20px;
  width: 100%;
  position: fixed;
  margin-left: -30px;
  bottom: 0;
  span {
    &#selectedAmount {
      margin: 0;
      font-weight: bold;
    }
    &.label {
        margin-right: 10px;
    }
  }
  a,span {
    margin-bottom: 0;
    &.button-dropdown {
      ul {
        border-bottom: 1px solid #ffffff;
        top: auto;
        bottom: 100%;
        left: 0px;
        border-top: none;
        min-width: 176px;
      }
    }
  }
}
