/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  font-size: 32px;
  font-weight: 900;
  color: #354052;
  margin-top: 0;
  margin-bottom: 10px;
  clear: left; }
  h1 em {
    font-size: 22px;
    color: #999999;
    text-transform: capitalize; }

h2 {
  font-size: 20px;
  color: #354052;
  font-weight: 700;
  margin: 30px 0 10px 0; }

h3 {
  font-size: 14px;
  margin: 0 0 10px;
  font-weight: 300; }
  h3 strong {
    color: #f24a33; }

h4 {
  color: #354052;
  font-weight: 300;
  font-size: 18px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #efefef; }

p {
  line-height: 20px;
  margin-bottom: 15px; }

strong {
  font-weight: 700; }

a {
  color: #888888;
  text-decoration: none;
  border-bottom: 1px dotted #888888; }
  a:hover {
    color: #354052;
    border-color: #354052; }

html, body {
  height: 100%;
  -webkit-appearance: none; }

body {
  font-size: 14px;
  background: #f8f7f7;
  color: #929191; }

.sponge-logo {
  width: 150px;
  margin: 30px 0; }

ul.standard li {
  list-style-type: circle;
  line-height: 26px;
  margin-left: 20px; }

.project-info {
  margin-top: 30px;
  display: block; }
  .project-info li {
    font-weight: 700; }
    .project-info li strong {
      background: #7E7772;
      color: #f8f7f7;
      padding: 5px;
      line-height: 30px;
      margin-right: 10px; }

.info-box {
  border: 1px dashed #2F2927;
  display: inline-block;
  float: right;
  padding: 10px;
  min-width: 250px;
  max-width: 450px;
  margin: 0 0 10px 10px;
  clear: both; }
  .info-box hr {
    margin: 0.5em 0;
    border-style: dashed; }
  .info-box li {
    line-height: 24px; }
    .info-box li strong {
      background: #7E7772;
      color: #f8f7f7;
      padding: 5px;
      line-height: 30px;
      margin-right: 10px; }
  .info-box table td {
    line-height: 20px;
    padding: 5px 10px; }
  @media (max-width: 950px) {
    .info-box {
      float: none;
      margin: 20px 0 0 0;
      padding: 10px 0;
      border: none;
      display: block;
      width: 100%;
      max-width: none; }
      .info-box table {
        width: 100%; }
        .info-box table td {
          line-height: 26px;
          display: block;
          padding: 0; }
          .info-box table td strong {
            font-size: 16px; } }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px dotted #ccc;
  margin: 1em 0;
  padding: 0; }

#main {
  margin-left: 245px;
  padding: 20px 30px 40px; }
  @media (max-width: 1000px) {
    #main {
      margin-left: 95px; } }

nav {
  background: #354052;
  width: 230px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  color: #f8f7f7;
  text-align: center; }
  nav .sponge-logo {
    margin: 45px 0; }
  nav ul {
    cursor: pointer; }
    nav ul li {
      padding: 20px 30px;
      font-size: 16px;
      text-align: left;
      list-style-type: none;
      font-weight: 300;
      margin-right: 3px; }
      nav ul li i {
        width: 40px; }
      nav ul li:hover {
        background: #39d1b4; }
  nav a {
    color: #f8f7f7;
    text-decoration: none; }
    nav a:hover {
      color: #f8f7f7; }
  nav .resizer {
    height: 100%;
    width: 16px;
    background: #ffffff;
    opacity: 0;
    position: absolute;
    top: 0;
    right: -16px;
    opacity: 1;
    background: url('/images/dot-tile.png') repeat-y;
    float: right;
    cursor: col-resize; }
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      nav .resizer {
        background: url('/images/dot-tile@2x.png') repeat-y;
        background-size: 16px 13px; } }
  @media (max-width: 1000px) {
    nav {
      width: 95px;
      padding-top: 10px; }
      nav span {
        display: none; }
      nav .sponge-logo {
        display: none; } }

#main header {
  width: 100%;
  display: inline-block;
  clear: both;
  margin: 20px 0;
  font-size: 13px; }
  #main header .crumbtrail {
    float: left;
    vertical-align: bottom;
    margin-bottom: 10px; }
    #main header .crumbtrail a {
      color: #354052;
      border: none; }
      #main header .crumbtrail a:hover {
        border-bottom: 1px dotted #354052; }
    #main header .crumbtrail .fa {
      font-size: 11px;
      padding: 0 3px; }
  #main header .signout {
    display: inline-block;
    float: right; }

.table-head {
  background: #f6f6f6;
  display: block;
  margin-top: 20px;
  border: 1px solid #ddd; }

table.full {
  width: 100%;
  border-radius: 5px;
  margin-top: 30px; }
  table.full th, table.full td {
    padding: 20px;
    text-align: left; }
  table.full th {
    font-weight: 700;
    min-width: 0;
    cursor: pointer;
    -webkit-user-select: none;
    /* webkit (safari, chrome) browsers */
    -moz-user-select: none;
    /* mozilla browsers */
    -khtml-user-select: none;
    /* webkit (konqueror) browsers */
    -ms-user-select: none;
    /* IE10+ */
    color: #354052;
    padding: 25px 20px; }
    table.full th.select {
      min-width: 0;
      width: 50px;
      padding: 0;
      text-align: center;
      cursor: default; }
    table.full th.priority {
      min-width: 5px;
      width: 5px; }
    table.full th .fa-sort {
      margin-left: 3px;
      color: #ccc; }
  table.full td {
    vertical-align: middle; }
    table.full td span i {
      margin-left: 10px; }
      table.full td span i:first-of-type {
        margin: 0; }
    table.full td span a {
      border: none; }
    table.full td span.summary {
      font-weight: bold;
      display: block;
      margin-bottom: 10px; }
    table.full td span.description, table.full td span.group {
      margin-bottom: 10px;
      display: block; }
    table.full td span.group {
      color: #666; }
    table.full td span.status {
      color: #666; }
    table.full td span.details, table.full td span.user {
      font-size: 12px;
      display: block;
      color: #666666; }
    table.full td.details {
      min-width: 400px; }
    table.full td.select {
      width: 50px;
      padding: 0;
      text-align: center; }
    table.full td.priority {
      background: #e6e6e6;
      max-width: 5px;
      min-width: 5px;
      width: 5px; }
      table.full td.priority.High {
        background: #f24a33; }
      table.full td.priority.Medium {
        background: #FEBD19; }
      table.full td.priority.Low {
        background: #8BCEDC; }
  table.full tr {
    background: #ffffff;
    border-bottom: 1px solid #f1f0f0; }
    table.full tr.head {
      background: #f3f2f2;
      border-radius: 5px;
      border-bottom: none; }
      table.full tr.head:hover {
        background: #f3f2f2; }
    table.full tr:hover {
      background: #f9f9f9; }
    table.full tr.closed {
      background: none;
      opacity: 0.3; }
      table.full tr.closed:hover {
        background: #dddddd;
        opacity: 1; }
      table.full tr.closed td.priority {
        border: none; }
  @media (max-width: 650px) {
    table.full {
      margin-top: 30px; }
      table.full tr.head {
        display: none; }
      table.full tr {
        padding: 10px 0; }
      table.full td {
        display: block;
        width: 100%;
        padding: 5px 12px;
        line-height: 24px; }
        table.full td.name, table.full td.reference, table.full td.client {
          font-weight: bold; }
        table.full td.version, table.full td.date, table.full td.priority, table.full td.project_count, table.full td.stub, table.full td.issues, table.full td.project_manager {
          display: none; } }

form {
  max-width: 700px; }

input, textarea {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 30px;
  border: 1px solid #dddddd;
  padding: 10px;
  margin-bottom: 10px;
  min-width: 300px;
  outline: none;
  border-radius: 3px; }
  input.error, textarea.error {
    border-color: #f24a33; }
  input:focus, textarea:focus {
    border-color: #8bcedc;
    outline: none; }
  input.short, textarea.short {
    min-width: 0;
    width: 50px; }

label {
  display: block;
  margin: 20px 0 10px 0;
  font-weight: 600; }
  label:first-of-type {
    margin-top: 0; }
  label.radio {
    font-weight: 300;
    display: inline;
    margin: 0 10px 0 3px; }

input {
  display: inline-block; }
  input.filter {
    clear: left;
    float: right; }
  input.filter {
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 20px;
    padding: 12px 12px 12px 40px;
    background: #ffffff url('/images/magnify.png') 12px center no-repeat;
    background-size: 19px 18px;
    color: #666; }
    @media (max-width: 1000px) {
      input.filter {
        min-width: 200px; } }
    @media (max-width: 800px) {
      input.filter {
        width: 100%;
        display: block;
        /* Safari/Chrome, other WebKit */
        /* Firefox, other Gecko */
        box-sizing: border-box;
        /* Opera/IE 8+ */ } }
  input[type='radio'], input[type='checkbox'] {
    min-width: 0; }
  input[type='submit']:hover {
    background: #8BCEDC; }
  input[type='file'] {
    padding: 10px;
    width: 100%; }

select {
  font-size: 16px;
  display: inline-block;
  min-width: 250px;
  padding: 5px; }

textarea {
  width: 100%;
  min-height: 100px;
  line-height: 22px; }

.group.full {
  clear: both;
  display: block;
  float: none; }
.group.small {
  float: left;
  margin-right: 100px; }

span.error {
  display: block;
  color: #f24a33;
  padding-bottom: 10px;
  font-size: 90%; }

.printable {
  padding: 12pt;
  font-size: 11pt; }
  .printable h2 {
    color: #f24a33;
    font-size: 14pt;
    margin: 0 0 10pt 0; }
  .printable h3 {
    font-size: 12pt;
    font-weight: bold; }
  .printable ul li {
    list-style-type: circle;
    margin-left: 20px;
    line-height: 20px; }
  .printable hr {
    margin: 10px 0; }

a.action, a[type='submit'], span.action, span[type='submit'], button.action, button[type='submit'] {
  font-size: 14px;
  font-weight: 600;
  min-width: 70px;
  text-align: center;
  padding: 12px 30px;
  background: #39d1b4;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  display: inline-block;
  clear: left;
  margin-top: -1px;
  margin-bottom: 4px;
  margin-right: 5px;
  cursor: pointer; }
  a.action.red, a[type='submit'].red, span.action.red, span[type='submit'].red, button.action.red, button[type='submit'].red {
    background: #f34939; }
    a.action.red:hover, a[type='submit'].red:hover, span.action.red:hover, span[type='submit'].red:hover, button.action.red:hover, button[type='submit'].red:hover {
      background: #f45c4d; }
  a.action.green, a[type='submit'].green, span.action.green, span[type='submit'].green, button.action.green, button[type='submit'].green {
    background: #39d1b4; }
    a.action.green:hover, a[type='submit'].green:hover, span.action.green:hover, span[type='submit'].green:hover, button.action.green:hover, button[type='submit'].green:hover {
      background: #4dd6bc; }
  a.action.blue, a[type='submit'].blue, span.action.blue, span[type='submit'].blue, button.action.blue, button[type='submit'].blue {
    background: #8bcedc; }
    a.action.blue:hover, a[type='submit'].blue:hover, span.action.blue:hover, span[type='submit'].blue:hover, button.action.blue:hover, button[type='submit'].blue:hover {
      background: #97d3e0; }
  a.action.yellow, a[type='submit'].yellow, span.action.yellow, span[type='submit'].yellow, button.action.yellow, button[type='submit'].yellow {
    background: #fdb45c; }
    a.action.yellow:hover, a[type='submit'].yellow:hover, span.action.yellow:hover, span[type='submit'].yellow:hover, button.action.yellow:hover, button[type='submit'].yellow:hover {
      background: #fdbc6d; }
  a.action:hover, a[type='submit']:hover, span.action:hover, span[type='submit']:hover, button.action:hover, button[type='submit']:hover {
    background: #4dd6bc; }
  a.action.nofill, a[type='submit'].nofill, span.action.nofill, span[type='submit'].nofill, button.action.nofill, button[type='submit'].nofill {
    background: none;
    color: #39d1b4;
    border: 1px solid; }
    a.action.nofill.red, a[type='submit'].nofill.red, span.action.nofill.red, span[type='submit'].nofill.red, button.action.nofill.red, button[type='submit'].nofill.red {
      color: #f34939;
      border-color: #f34939; }
      a.action.nofill.red:hover, a[type='submit'].nofill.red:hover, span.action.nofill.red:hover, span[type='submit'].nofill.red:hover, button.action.nofill.red:hover, button[type='submit'].nofill.red:hover {
        background-color: #f34939; }
    a.action.nofill.green, a[type='submit'].nofill.green, span.action.nofill.green, span[type='submit'].nofill.green, button.action.nofill.green, button[type='submit'].nofill.green {
      color: #39d1b4;
      border-color: #39d1b4; }
      a.action.nofill.green:hover, a[type='submit'].nofill.green:hover, span.action.nofill.green:hover, span[type='submit'].nofill.green:hover, button.action.nofill.green:hover, button[type='submit'].nofill.green:hover {
        background-color: #39d1b4; }
    a.action.nofill.blue, a[type='submit'].nofill.blue, span.action.nofill.blue, span[type='submit'].nofill.blue, button.action.nofill.blue, button[type='submit'].nofill.blue {
      color: #8bcedc;
      border-color: #8bcedc; }
      a.action.nofill.blue:hover, a[type='submit'].nofill.blue:hover, span.action.nofill.blue:hover, span[type='submit'].nofill.blue:hover, button.action.nofill.blue:hover, button[type='submit'].nofill.blue:hover {
        background-color: #8bcedc; }
    a.action.nofill.yellow, a[type='submit'].nofill.yellow, span.action.nofill.yellow, span[type='submit'].nofill.yellow, button.action.nofill.yellow, button[type='submit'].nofill.yellow {
      color: #fdb45c;
      border-color: #fdb45c; }
      a.action.nofill.yellow:hover, a[type='submit'].nofill.yellow:hover, span.action.nofill.yellow:hover, span[type='submit'].nofill.yellow:hover, button.action.nofill.yellow:hover, button[type='submit'].nofill.yellow:hover {
        background-color: #fdb45c; }
    a.action.nofill:hover, a[type='submit'].nofill:hover, span.action.nofill:hover, span[type='submit'].nofill:hover, button.action.nofill:hover, button[type='submit'].nofill:hover {
      color: #fff; }
  a.action.right, a[type='submit'].right, span.action.right, span[type='submit'].right, button.action.right, button[type='submit'].right {
    float: right; }

button[type="submit"] {
  margin-top: 20px;
  padding: 9px 30px 10px; }

/*
button {
  font-size: 11px;
  text-transform: uppercase;
  &[type='submit'] {
    min-width: 0;
    margin-top: 10px;
    padding: 7px 8px;
    display: inline-block;
    background: $highlight;
    color: $background;
    border: none;
    cursor: pointer;
    &:hover {
      background: $tertiary;
    }
  }
}
*/
a.button-dropdown, span.button-dropdown {
  color: #ffffff;
  position: relative;
  cursor: pointer; }
  a.button-dropdown ul, span.button-dropdown ul {
    min-width: 155px;
    border-top: 1px solid #ffffff;
    position: absolute;
    top: 36px;
    left: 1px;
    display: none;
    z-index: 2;
    text-align: left; }
    a.button-dropdown ul li, span.button-dropdown ul li {
      padding: 0;
      background: #fdb45c; }
      a.button-dropdown ul li:hover, span.button-dropdown ul li:hover {
        background: #fdbc6d; }
      a.button-dropdown ul li a, span.button-dropdown ul li a {
        display: inline-block;
        color: #ffffff;
        text-decoration: none;
        border: none;
        padding: 8px;
        width: 100%;
        min-width: 100px; }
  a.button-dropdown:hover ul, span.button-dropdown:hover ul {
    display: block;
    margin-left: -1px; }

.notify-box {
  background: #71C8B5;
  color: #f8f7f7;
  font-size: 14px;
  font-weight: 600;
  width: 350px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  margin: 0 auto;
  padding: 25px 0;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  opacity: 0;
  -webkit-animation: fadeOut 5s linear forwards;
          animation: fadeOut 5s linear forwards; }
  .notify-box.error {
    background: #f24a33;
    color: #f8f7f7; }
  .notify-box #close-icon {
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 7px;
    color: #ffffff; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 0; }

  10% {
    opacity: 1; }

  90% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }

  99% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }

  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 0; }

  10% {
    opacity: 1; }

  90% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }

  99% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }

  100% {
    opacity: 0; } }

.tip {
  border-radius: 3px;
  border-left: 3px solid #8bcedc;
  background: #ffffff;
  margin-bottom: 30px;
  padding: 20px;
  display: inline-block; }

#table-actions {
  margin-top: 500px;
  display: none;
  background: #fff;
  border-top: 1px solid #f3f2f2;
  padding: 20px;
  width: 100%;
  position: fixed;
  margin-left: -30px;
  bottom: 0; }
  #table-actions span#selectedAmount {
    margin: 0;
    font-weight: bold; }
  #table-actions span.label {
    margin-right: 10px; }
  #table-actions a, #table-actions span {
    margin-bottom: 0; }
    #table-actions a.button-dropdown ul, #table-actions span.button-dropdown ul {
      border-bottom: 1px solid #ffffff;
      top: auto;
      bottom: 100%;
      left: 0px;
      border-top: none;
      min-width: 176px; }

.fa.pointer {
  cursor: default; }

.photo {
  height: 100%;
  padding: 0; }
  .photo .gradient {
    background: url("/images/gradient.png") center top repeat-x;
    display: inline-block;
    width: 100%;
    min-height: 610px; }
  .photo .login {
    background: #ffffff;
    color: #222222;
    text-align: center;
    position: static;
    margin: 50px auto;
    padding: 20px;
    width: 260px;
    height: auto;
    box-shadow: 0px 0px 100px #000;
    border-radius: 3px; }
    .photo .login hr {
      margin: 25px 0; }
    .photo .login form {
      text-align: left;
      margin: 0; }
      .photo .login form label {
        display: block;
        text-align: left;
        margin: 10px 0; }
        .photo .login form label .checkbox {
          background: #f60; }
      .photo .login form input {
        display: block;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        min-width: 0;
        width: 100%;
        /* Safari/Chrome, other WebKit */
        /* Firefox, other Gecko */
        box-sizing: border-box;
        /* Opera/IE 8+ */ }
      .photo .login form input[type='submit'] {
        padding: 10px;
        margin-top: 10px;
        background: #f24a33;
        color: #f8f7f7;
        cursor: pointer;
        border: none; }
        .photo .login form input[type='submit']:hover {
          background: #8BCEDC; }
      .photo .login form input[type='checkbox'] {
        margin-top: 10px;
        width: auto;
        display: inline-block; }
      .photo .login form span {
        font-size: 12px; }
        .photo .login form span.remember {
          display: inline;
          margin-left: 2px; }
        .photo .login form span.extra {
          color: #cccccc;
          margin-left: 10px; }

section {
  max-width: 722px;
  border-top: 1px dotted #ddd;
  margin-top: 20px; }
  section h2 {
    margin: 20px 0 15px; }
  section .details {
    margin: 20px 0; }
    section .details li {
      display: inline-block;
      min-width: 40%;
      max-width: 40%;
      margin-right: 10px;
      line-height: 30px; }
      @media (max-width: 650px) {
        section .details li {
          display: block;
          min-width: 0;
          max-width: none; } }
      section .details li strong {
        background: #ddd;
        padding: 3px 5px; }
  section .attachments li {
    line-height: 36px; }
    section .attachments li .attachment-delete {
      border: none;
      margin-left: 10px;
      opacity: 0.3; }
      section .attachments li .attachment-delete:hover {
        opacity: 1;
        color: #f24a33; }
  section .attachments i {
    margin-right: 5px; }
  section .update {
    display: block;
    border: 1px solid #dddddd;
    border-left: 3px solid #dddddd;
    padding: 10px;
    margin: 10px 0 15px;
    border-radius: 3px;
    position: relative;
    background: #ffffff; }
    section .update.status {
      background: #f6f6f6;
      border-left-width: 1px; }
      section .update.status h3 {
        color: #666666; }
      section .update.status:hover {
        opacity: 1.0; }
    section .update:hover {
      border-color: #999;
      opacity: 1.0; }
    section .update .timestamp {
      margin-top: 1px;
      z-index: 2;
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 12px;
      display: none;
      color: #ccc;
      border-radius: 3px;
      clear: both; }
    section .update:hover .timestamp {
      display: inline-block; }
    section .update h3 {
      color: #333;
      margin: 0; }
      section .update h3 i {
        color: #999999; }
      section .update h3 em {
        font-weight: 600;
        color: #999999; }
    section .update p {
      margin: 10px 0 0 0;
      color: #666; }
    section .update .tag {
      font-size: 12px;
      background: #f24a33;
      color: #f8f7f7;
      padding: 3px 5px;
      border-radius: 3px;
      margin-left: 3px; }

.dashboard {
  display: inline-block;
  width: 100%; }
  .dashboard .row .col {
    border: none;
    padding-left: 20px;
    float: left;
    box-sizing: border-box;
    padding-bottom: 20px; }
    .dashboard .row .col .content {
      background: #ffffff;
      border-radius: 5px;
      padding: 35px; }
      .dashboard .row .col .content h1 {
        color: #f34939; }
    .dashboard .row .col:first-of-type {
      padding-left: 0; }
    .dashboard .row .col.col-1-1 {
      width: 100%; }
    .dashboard .row .col.col-3-4 {
      width: 75%; }
    .dashboard .row .col.col-2-3, .dashboard .row .col.col-8-12 {
      width: 66.66%; }
    .dashboard .row .col.col-1-2, .dashboard .row .col.col-6-12 {
      width: 50%; }
    .dashboard .row .col.col-1-3, .dashboard .row .col.col-4-12 {
      width: 33.33%; }
    .dashboard .row .col.col-1-4, .dashboard .row .col.col-3-12 {
      width: 25%; }
    .dashboard .row .col.col-1-5 {
      width: 20%; }
    .dashboard .row .col.col-1-6, .dashboard .row .col.col-2-12 {
      width: 16.667%; }
    .dashboard .row .col.col-1-7 {
      width: 14.28%; }
    .dashboard .row .col.col-1-8 {
      width: 12.5%; }
    .dashboard .row .col.col-1-9 {
      width: 11.1%; }
    .dashboard .row .col.col-1-10 {
      width: 10%; }
    .dashboard .row .col.col-1-11 {
      width: 9.09%; }
    .dashboard .row .col.col-1-12 {
      width: 8.33%; }
    .dashboard .row .col canvas {
      display: block;
      width: 100% !important;
      height: auto !important;
      margin-right: 10px; }
    @media (max-width: 850px) {
      .dashboard .row .col.col-1-4, .dashboard .row .col.col-3-12 {
        width: 50%; }
        .dashboard .row .col.col-1-4:nth-of-type(3n), .dashboard .row .col.col-3-12:nth-of-type(3n) {
          padding-left: 0; } }
    @media (max-width: 650px) {
      .dashboard .row .col.col {
        width: 100%;
        padding: 0 0 20px 0; } }
  .dashboard .activity {
    display: inline-block;
    margin-bottom: 20px; }
    .dashboard .activity .user-icon {
      float: left;
      display: inline-block;
      margin-right: 20px; }
    .dashboard .activity .details {
      overflow: hidden; }
      .dashboard .activity .details p {
        margin: 0; }
      .dashboard .activity .details .date {
        display: inline-block;
        margin-top: 5px;
        font-size: 12px;
        color: #bec0c0; }
  .dashboard .project-details td {
    line-height: 36px; }
    .dashboard .project-details td strong {
      color: #354052;
      font-weight: normal;
      margin-right: 40px; }

.statistics {
  background: #ffffff;
  border-radius: 3px;
  text-align: center;
  display: inline-block;
  width: 100%;
  clear: both;
  margin-bottom: 20px; }
  .statistics .statistic {
    width: 25%;
    display: inline-block;
    float: left;
    box-sizing: border-box; }
    .statistics .statistic .content {
      padding: 75px 25px;
      border-left: 1px solid #e4e4e4; }
      .statistics .statistic .content.first {
        border: none; }
      .statistics .statistic .content h2 {
        font-family: "museo-slab", serif;
        margin-top: 0;
        font-size: 68px;
        color: #f24a33;
        font-weight: 900; }
        .statistics .statistic .content h2.red {
          color: #f34939; }
        .statistics .statistic .content h2.green {
          color: #39d1b4; }
        .statistics .statistic .content h2.blue {
          color: #8bcedc; }
        .statistics .statistic .content h2.yellow {
          color: #fdb45c; }
      .statistics .statistic .content h3 {
        margin-top: 10px;
        font-size: 16px;
        color: #999999;
        font-weight: 500; }
      .statistics .statistic .content label {
        font-family: "museo-slab", serif;
        font-size: 18px;
        font-weight: 300;
        color: #929191;
        padding: 0;
        margin: 0; }
  @media (max-width: 1000px) {
    .statistics .statistic {
      width: 50%;
      display: block; }
      .statistics .statistic .content.third {
        border-left: none;
        border-top: 1px solid #e4e4e4; }
      .statistics .statistic .content.fourth {
        border-top: 1px solid #e4e4e4; } }
  @media (max-width: 650px) {
    .statistics .statistic {
      width: 100%; }
      .statistics .statistic .content.second {
        border-left: none;
        border-top: 1px solid #e4e4e4; }
      .statistics .statistic .content.fourth {
        border-left: none; } }

.error-status {
  text-align: center; }
  .error-status .oh-no {
    font-size: 200px;
    color: #ccc;
    margin-bottom: 40px; }
  .error-status h1 {
    font-size: 72px;
    margin-bottom: 10px; }
  .error-status h2 {
    font-size: 22px;
    font-weight: 500;
    margin: 0 0 50px 0;
    color: #333; }
  .error-status p {
    color: #888;
    max-width: 600px;
    display: inline-block;
    margin: 0 auto; }

.projects-index .col {
  width: 33%;
  box-sizing: border-box;
  padding-right: 20px;
  float: left; }
  .projects-index .col:nth-of-type(3n) {
    padding: 0; }
  .projects-index .col a.project-preview {
    padding: 10px;
    border: 1px solid #eee;
    display: block;
    color: #666;
    margin-bottom: 20px; }
    .projects-index .col a.project-preview:hover {
      border-color: #bbb;
      color: #222222; }
    .projects-index .col a.project-preview h3 {
      font-size: 16px;
      padding: 10px 0 0 0;
      margin: 0; }
    .projects-index .col a.project-preview ul {
      line-height: 20px;
      padding-bottom: 10px; }
    .projects-index .col a.project-preview:nth-of-type(3n) {
      margin: 0; }
    .projects-index .col a.project-preview .actions {
      padding: 0 10px 20px 10px; }
    .projects-index .col a.project-preview .project-progress {
      display: block;
      background: #eee;
      width: 100%;
      height: 10px;
      padding: 0;
      margin: 0; }
      .projects-index .col a.project-preview .project-progress .percent {
        background: #71C8B5;
        height: 10px; }
        .projects-index .col a.project-preview .project-progress .percent.percent-100 {
          width: 100%; }
        .projects-index .col a.project-preview .project-progress .percent.percent-75 {
          width: 75%; }
        .projects-index .col a.project-preview .project-progress .percent.percent-50 {
          width: 50%; }
        .projects-index .col a.project-preview .project-progress .percent.percent-25 {
          width: 25%; }
        .projects-index .col a.project-preview .project-progress .percent.percent-5 {
          width: 5%; }
  @media (max-width: 1000px) {
    .projects-index .col {
      width: 100%;
      padding: 0; } }

#main.help p, #main.help section {
  max-width: 800px; }
  #main.help p ul li, #main.help section ul li {
    margin-left: 20px;
    list-style-type: circle;
    line-height: 24px; }

body, input, textarea, button {
  font-family: "open-sans", Arial, sans-serif;
  font-weight: 400; }

h1, h4, nav {
  font-family: "museo-slab", Georgia, serif; }


/*# sourceMappingURL=main.css.map */