/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  font-size: 32px;
  color: #f24a33;
  margin-bottom: 20px; }
  h1 em {
    color: #999999; }

h2 {
  font-size: 20px;
  color: #2F2927;
  font-weight: 700;
  margin: 30px 0 10px 0; }

h3 {
  font-size: 14px;
  margin: 0 0 10px;
  font-weight: bold; }
  h3 strong {
    color: #f24a33; }

p {
  line-height: 16px;
  margin-bottom: 15px; }

strong {
  font-weight: 700; }

a {
  color: #2F2927;
  text-decoration: none;
  border-bottom: 1px dotted #2F2927; }
  a:hover {
    color: #8BCEDC;
    border-color: #8BCEDC; }

html, body {
  height: 100%; }

body {
  font-family: "museo-slab", serif;
  font-weight: 300;
  font-size: 14px;
  background: #ffffff; }

.sponge-logo {
  width: 150px;
  margin: 30px 0 50px; }

.project-info {
  margin-top: 30px;
  display: block; }
  .project-info li {
    font-weight: 700; }
    .project-info li strong {
      background: #7E7772;
      color: #ffffff;
      padding: 5px;
      line-height: 30px;
      margin-right: 10px; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px dotted #ccc;
  margin: 1em 0;
  padding: 0; }

#main {
  margin-left: 300px;
  padding: 20px 30px; }
  #main .project-preview {
    width: 31%;
    margin-right: 2%;
    margin-top: 20px;
    display: inline-block;
    border: 1px solid #f24a33;
    border-radius: 5px; }
    #main .project-preview h3 {
      font-size: 16px;
      background: #f24a33;
      color: #ffffff;
      padding: 10px;
      margin: 0; }
    #main .project-preview p {
      padding: 10px; }
    #main .project-preview ul {
      padding: 10px;
      line-height: 20px; }
    #main .project-preview:nth-of-type(3n) {
      margin: 0; }
    #main .project-preview .actions {
      padding: 0 10px 20px 10px; }

nav {
  background: #222629;
  width: 300px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  color: #ffffff;
  text-align: center; }
  nav ul {
    cursor: pointer; }
    nav ul li {
      padding: 20px 30px;
      font-size: 18px;
      text-align: left;
      list-style-type: none; }
      nav ul li i {
        width: 40px; }
      nav ul li:hover {
        background: #f24a33; }
  nav a {
    color: #ffffff;
    text-decoration: none; }
    nav a:hover {
      color: #ffffff; }

#main header {
  width: 100%;
  display: inline-block;
  clear: both;
  font-size: 10px;
  font-weight: 500;
  margin-bottom: 30px; }
  #main header ul {
    display: inline-block;
    text-transform: uppercase; }
    #main header ul a {
      border: none; }
    #main header ul li {
      display: inline-block;
      padding: 5px;
      border: 1px solid #2F2927;
      line-height: normal; }
      #main header ul li:hover, #main header ul li.current {
        background: #2F2927;
        border: 1px solid #2F2927;
        color: #fff; }
    #main header ul.crumbtrail {
      float: left; }
    #main header ul.account {
      float: right; }

table.full {
  width: 100%;
  margin-top: 20px; }
  table.full th, table.full td {
    padding: 10px;
    text-align: left; }
  table.full th {
    font-weight: 700;
    min-width: 50px; }
  table.full td.priority {
    border-right: 5px solid #e6e6e6; }
    table.full td.priority.High {
      border-color: #f24a33; }
    table.full td.priority.Medium {
      border-color: #FEBD19; }
    table.full td.priority.Low {
      border-color: #8BCEDC; }
  table.full tr {
    background: #eeeeee;
    border-radius: 5px; }
    table.full tr.head {
      background: none; }
      table.full tr.head:hover {
        background: none; }
    table.full tr:nth-of-type(2n) {
      background: #ffffff; }
    table.full tr:hover {
      background: #dddddd; }
    table.full tr.resolved {
      background: none;
      opacity: 0.3; }
      table.full tr.resolved:hover {
        background: #dddddd;
        opacity: 1; }
      table.full tr.resolved td.priority {
        border: none; }

.info-box {
  border: 1px dashed #2F2927;
  display: inline-block;
  float: right;
  padding: 10px;
  min-width: 250px;
  margin: 0 0 10px 10px;
  clear: both; }
  .info-box hr {
    margin: 0.5em 0;
    border-style: dashed; }
  .info-box li {
    line-height: 24px; }
    .info-box li strong {
      background: #7E7772;
      color: #ffffff;
      padding: 5px;
      line-height: 30px;
      margin-right: 10px; }
  .info-box table td {
    padding: 10px; }

form {
  margin-top: 30px; }

input, textarea {
  font-family: "museo-slab", serif;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 30px;
  border: 1px solid #dddddd;
  padding: 10px;
  margin-bottom: 10px;
  min-width: 300px;
  outline: none;
  border-radius: 3px; }
  input:focus, textarea:focus {
    border-color: #8BCEDC;
    outline: none; }

label {
  display: block;
  margin: 20px 0 10px 0;
  font-weight: 500; }
  label.radio {
    font-weight: 300;
    display: inline;
    margin: 0 10px 0 3px; }

input {
  display: inline-block; }
  input.filter {
    clear: left;
    float: right; }
  input.filter {
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 20px; }
  input[type='radio'], input[type='checkbox'] {
    min-width: 0; }

select {
  display: inline-block;
  min-width: 250px; }

textarea {
  width: 100%;
  max-width: 700px;
  min-height: 100px;
  line-height: 22px; }

.group.full {
  clear: both;
  display: block;
  float: none; }
.group.small {
  float: left;
  margin-right: 100px; }

a.action {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: -1px;
  padding: 6px 8px 6px 8px;
  background: #f24a33;
  border: 1px solid #f24a33;
  color: #ffffff; }
  a.action:hover {
    background: #8BCEDC;
    border-color: #8BCEDC;
    color: #ffffff; }
  a.action.secondary {
    background: #ddd;
    border: 1px solid #ddd;
    color: #2F2927; }
    a.action.secondary:hover {
      background: #8BCEDC;
      border-color: #8BCEDC;
      color: #ffffff; }
  a.action.right {
    float: right; }

button {
  font-family: "museo-slab", serif;
  font-size: 10px;
  text-transform: uppercase; }
  button[type='submit'] {
    min-width: 0;
    margin-top: 10px;
    padding: 7px 8px;
    display: inline-block;
    background: #f24a33;
    color: #ffffff;
    border: none;
    cursor: pointer; }
    button[type='submit']:hover {
      background: #8BCEDC; }

.dropzone, .dropzone *, .dropzone-previews, .dropzone-previews * {
  box-sizing: border-box; }

.dropzone {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: rgba(0, 0, 0, 0.02);
  padding: 1em; }

.dropzone.dz-clickable {
  cursor: pointer; }

.dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message span {
  cursor: pointer; }

.dropzone.dz-clickable * {
  cursor: default; }

.dropzone .dz-message {
  opacity: 1;
  -ms-filter: none;
  -webkit-filter: none;
          filter: none; }

.dropzone.dz-drag-hover {
  border-color: rgba(0, 0, 0, 0.15);
  background: rgba(0, 0, 0, 0.04); }

.dropzone.dz-started .dz-message {
  display: none; }

.dropzone .dz-preview, .dropzone-previews .dz-preview {
  background: rgba(255, 255, 255, 0.8);
  position: relative;
  display: inline-block;
  margin: 17px;
  vertical-align: top;
  border: 1px solid #acacac;
  padding: 6px 6px 6px 6px; }

.dropzone .dz-preview.dz-file-preview [data-dz-thumbnail], .dropzone-previews .dz-preview.dz-file-preview [data-dz-thumbnail] {
  display: none; }

.dropzone .dz-preview .dz-details, .dropzone-previews .dz-preview .dz-details {
  width: 100px;
  height: 100px;
  position: relative;
  background: #ebebeb;
  padding: 5px;
  margin-bottom: 22px; }

.dropzone .dz-preview .dz-details .dz-filename, .dropzone-previews .dz-preview .dz-details .dz-filename {
  overflow: hidden;
  height: 100%; }

.dropzone .dz-preview .dz-details img, .dropzone-previews .dz-preview .dz-details img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px; }

.dropzone .dz-preview .dz-details .dz-size, .dropzone-previews .dz-preview .dz-details .dz-size {
  position: absolute;
  bottom: -28px;
  left: 3px;
  height: 28px;
  line-height: 28px; }

.dropzone .dz-preview.dz-error .dz-error-mark, .dropzone-previews .dz-preview.dz-error .dz-error-mark {
  display: block; }

.dropzone .dz-preview.dz-success .dz-success-mark, .dropzone-previews .dz-preview.dz-success .dz-success-mark {
  display: block; }

.dropzone .dz-preview:hover .dz-details img, .dropzone-previews .dz-preview:hover .dz-details img {
  display: none; }

.dropzone .dz-preview .dz-success-mark, .dropzone-previews .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark, .dropzone-previews .dz-preview .dz-error-mark {
  display: none;
  position: absolute;
  width: 40px;
  height: 40px;
  font-size: 30px;
  text-align: center;
  right: -10px;
  top: -10px; }

.dropzone .dz-preview .dz-success-mark, .dropzone-previews .dz-preview .dz-success-mark {
  color: #8cc657; }

.dropzone .dz-preview .dz-error-mark, .dropzone-previews .dz-preview .dz-error-mark {
  color: #ee162d; }

.dropzone .dz-preview .dz-progress, .dropzone-previews .dz-preview .dz-progress {
  position: absolute;
  top: 100px;
  left: 6px;
  right: 6px;
  height: 6px;
  background: #d7d7d7;
  display: none; }

.dropzone .dz-preview .dz-progress .dz-upload, .dropzone-previews .dz-preview .dz-progress .dz-upload {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0%;
  background-color: #8cc657; }

.dropzone .dz-preview.dz-processing .dz-progress, .dropzone-previews .dz-preview.dz-processing .dz-progress {
  display: block; }

.dropzone .dz-preview .dz-error-message, .dropzone-previews .dz-preview .dz-error-message {
  display: none;
  position: absolute;
  top: -5px;
  left: -20px;
  background: rgba(245, 245, 245, 0.8);
  padding: 8px 10px;
  color: #800;
  min-width: 140px;
  max-width: 500px;
  z-index: 500; }

.dropzone .dz-preview:hover.dz-error .dz-error-message, .dropzone-previews .dz-preview:hover.dz-error .dz-error-message {
  display: block; }

.dropzone {
  border: 1px solid rgba(0, 0, 0, 0.03);
  min-height: 360px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.03);
  padding: 23px; }

.dropzone .dz-default.dz-message {
  opacity: 1;
  -ms-filter: none;
  -webkit-filter: none;
          filter: none;
  transition: opacity 0.3s ease-in-out;
  background-image: url("../images/spritemap.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  width: 428px;
  height: 123px;
  margin-left: -214px;
  margin-top: -61.5px;
  top: 50%;
  left: 50%; }

.photo {
  background: url('/images/login-photo.jpg') no-repeat center center fixed;
  background-size: cover; }

.login {
  background: #222629;
  color: #ffffff;
  text-align: center;
  position: static;
  margin: 20px auto;
  padding: 20px;
  width: 260px;
  height: auto;
  border-radius: 5px; }
  .login form {
    text-align: left; }
    .login form label {
      display: block;
      text-align: left;
      margin: 10px 0; }
      .login form label .checkbox {
        background: #f60; }
    .login form input {
      display: block;
      padding: 10px;
      margin-bottom: 10px;
      border: none;
      min-width: 0;
      width: 100%;
      /* Safari/Chrome, other WebKit */
      /* Firefox, other Gecko */
      box-sizing: border-box;
      /* Opera/IE 8+ */ }
    .login form input[type='submit'] {
      padding: 10px;
      margin-top: 10px;
      background: #f24a33;
      color: #ffffff; }
    .login form input[type='checkbox'] {
      margin-top: 10px;
      width: auto;
      display: inline-block; }
    .login form span {
      font-size: 12px; }
      .login form span.remember {
        display: inline;
        margin-left: 2px; }
      .login form span.extra {
        color: #cccccc;
        margin-left: 10px; }

section {
  max-width: 722px;
  border-top: 1px dotted #ddd;
  margin-top: 20px; }
  section h2 {
    margin: 20px 0 15px; }
  section .details {
    margin: 20px 0; }
    section .details li {
      display: inline-block;
      width: 40%;
      margin-right: 10px;
      margin-bottom: 12px; }
      section .details li strong {
        background: #ddd;
        padding: 3px 5px; }
  section .update {
    display: block;
    border: 1px solid #cccccc;
    border-left: 5px solid #bbbbbb;
    padding: 10px;
    margin: 10px 0 15px;
    border-radius: 3px; }
    section .update.status {
      background: #f6f6f6; }
    section .update:hover {
      border-color: #999;
      opacity: 1; }
    section .update .timestamp {
      margin-top: 1px;
      z-index: 2;
      float: right;
      font-size: 12px;
      display: none;
      color: #ccc;
      border-radius: 3px; }
    section .update:hover .timestamp {
      display: inline-block; }
    section .update h3 {
      color: #333;
      margin: 0; }
      section .update h3 i {
        color: #999999; }
      section .update h3 em {
        font-weight: 300;
        color: #999999; }
    section .update p {
      margin: 10px 0 0 0;
      color: #666; }
    section .update .tag {
      font-size: 12px;
      background: #f24a33;
      color: #ffffff;
      padding: 3px 5px;
      border-radius: 5px; }
