@import url("http://lib.jamie.sh/reset.min.css");
html, body {
  height: 100%; }

body {
  font-family: "museo-slab", serif;
  font-weight: 300;
  font-size: 14px;
  background: #ffffff; }
  body.photo {
    background: url('../images/login-photo.jpg') no-repeat center center fixed;
    background-size: cover; }

nav {
  background: #222629;
  width: 300px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  color: #ffffff;
  text-align: center; }
  nav ul {
    cursor: pointer; }
    nav ul li {
      padding: 20px 30px;
      font-size: 18px;
      text-align: left;
      list-style-type: none; }
      nav ul li i {
        width: 40px; }
      nav ul li:hover {
        background: #f24a33; }
  nav a {
    color: #fff;
    text-decoration: none; }

.sponge-logo {
  width: 150px;
  margin: 30px 0 50px; }

.login {
  background: #222629;
  color: #ffffff;
  text-align: center;
  position: static;
  margin: 20px auto;
  padding: 20px;
  width: 260px;
  height: auto; }
  .login form {
    text-align: left; }
    .login form label {
      display: block;
      text-align: left;
      margin: 10px 0; }
      .login form label .checkbox {
        background: #f60; }
    .login form input {
      display: block;
      padding: 10px;
      margin-bottom: 10px;
      border: none; }
    .login form input[type='text'], .login form input[type='password'] {
      width: 240px; }
    .login form input[type='submit'] {
      margin-top: 10px;
      display: inline-block;
      background: #f24a33;
      color: #ffffff; }
    .login form input[type='checkbox'] {
      display: inline-block; }
    .login form span {
      font-size: 11px; }
      .login form span.remember {
        margin-left: 2px; }
      .login form span.extra {
        color: #cccccc;
        margin-left: 10px; }

#main {
  margin-left: 300px;
  padding: 20px 30px; }
  #main header {
    width: 100%;
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 30px;
    text-transform: uppercase;
    float: left; }
    #main header a {
      border: none; }
    #main header li {
      display: inline-block;
      padding: 5px;
      border: 1px solid #2F2927;
      line-height: normal; }
      #main header li:hover {
        background: #2F2927;
        border: 1px solid #2F2927;
        color: #fff; }
      #main header li.current {
        background: #2F2927;
        color: #ffffff;
        border-color: #2F2927; }
    #main header .crumbtrail {
      display: inline-block;
      float: left; }
    #main header .account {
      display: inline-block;
      float: right; }
  #main .project-preview {
    width: 31%;
    margin-right: 2%;
    margin-top: 20px;
    display: inline-block;
    border: 1px solid #f24a33;
    border-radius: 5px; }
    #main .project-preview h3 {
      font-size: 16px;
      background: #f24a33;
      color: #ffffff;
      padding: 10px;
      margin: 0; }
    #main .project-preview p {
      padding: 10px; }
    #main .project-preview ul {
      padding: 10px;
      line-height: 20px; }
    #main .project-preview:nth-of-type(3n) {
      margin: 0; }
    #main .project-preview .actions {
      padding: 0 10px 20px 10px; }
  #main a {
    color: #2F2927;
    text-decoration: none;
    border-bottom: 1px dotted #2F2927; }
    #main a:hover {
      color: #8BCEDC;
      border-color: #8BCEDC; }
    #main a.blank {
      color: inherit;
      background: inherit;
      text-decoration: none;
      border: none; }
      #main a.blank:hover {
        color: inherit;
        background: inherit;
        text-decoration: none;
        border: none; }
    #main a.action {
      font-size: 10px;
      text-transform: uppercase;
      font-weight: 500;
      padding: 5px;
      /*background: $highlight;
      color: $background;
      border: none;*/
      background: #f24a33;
      border: 1px solid #f24a33;
      color: #ffffff; }
      #main a.action:hover {
        background: #8BCEDC;
        border-color: #8BCEDC;
        color: #ffffff; }
      #main a.action.secondary {
        background: none;
        border: 1px solid #2F2927;
        color: #2F2927; }
      #main a.action.right {
        float: right; }
  #main h1 {
    font-size: 32px;
    color: #f24a33;
    margin-bottom: 20px; }
  #main h2 {
    font-size: 20px;
    color: #2F2927;
    font-weight: 700;
    margin: 30px 0 10px 0; }
  #main h3 {
    font-size: 12px;
    margin: 0 0 10px; }
    #main h3 strong {
      color: #f24a33; }
  #main input {
    display: inline-block;
    clear: left;
    font-size: 12px;
    min-width: 200px;
    float: right; }
    #main input.filter {
      padding: 5px; }
  #main select {
    display: inline-block;
    min-width: 200px;
    float: right;
    text-indent: 5px; }

p {
  line-height: 16px;
  margin-bottom: 15px; }

input, textarea {
  font-family: "museo-slab", serif; }

.info-box {
  border: 1px dashed #2F2927;
  display: inline-block;
  float: right;
  padding: 10px;
  min-width: 250px;
  margin: 0 0 10px 10px;
  clear: both; }
  .info-box hr {
    margin: 0.5em 0;
    border-style: dashed; }
  .info-box li {
    line-height: 24px; }
    .info-box li strong {
      background: #7E7772;
      color: #ffffff;
      padding: 5px;
      line-height: 30px;
      margin-right: 10px; }
  .info-box table td {
    padding: 10px; }

.project-info {
  margin-top: 30px;
  display: block; }
  .project-info li {
    font-weight: 700; }
    .project-info li strong {
      background: #7E7772;
      color: #ffffff;
      padding: 5px;
      line-height: 30px;
      margin-right: 10px; }

strong {
  font-weight: 700; }

textarea {
  min-width: 50%;
  min-height: 50px;
  padding: 10px;
  font-size: 14px;
  font-weight: 300;
  margin: 10px 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px dotted #ccc;
  margin: 1em 0;
  padding: 0; }

*[data-href] {
  cursor: pointer; }

table.full {
  width: 100%;
  margin-top: 20px; }
  table.full th, table.full td {
    padding: 10px;
    text-align: left; }
  table.full th {
    font-weight: 700;
    min-width: 50px; }
  table.full td.priority {
    border-right: 5px solid #e6e6e6; }
    table.full td.priority.high {
      border-color: #f24a33; }
    table.full td.priority.medium {
      border-color: #FEBD19; }
    table.full td.priority.low {
      border-color: #8BCEDC; }
  table.full tr {
    background: #fff; }
    table.full tr:first-child {
      background: none; }
      table.full tr:first-child:hover {
        background: none; }
    table.full tr:nth-of-type(2n) {
      background: #eee; }
    table.full tr:hover {
      background: #dddddd; }
    table.full tr.resolved {
      background: none;
      opacity: 0.3; }
      table.full tr.resolved:hover {
        background: #dddddd;
        opacity: 1; }
      table.full tr.resolved td.priority {
        border: none; }
