// Reset
@import url("http://lib.jamie.sh/reset.min.css");

// Variables
@import "variables/all";

// Partials
// @import "partials/fonts";

// Vendor
// e.g. @import "vendor/bootstrap";

html, body {
  height: 100%;
}
body {
  font-family: "museo-slab", serif;
  font-weight: 300;
  font-size: 14px;
  background: $background;
  &.photo {
    background: url('../images/login-photo.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
nav {
  background: #222629;
  width: 300px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  color: $background;
  text-align: center;
  ul {
    cursor: pointer;
    li {
      padding: 20px 30px;
      font-size: 18px;
      text-align: left;
      list-style-type: none;
      i {
        width: 40px;
      }
      &:hover {
        background: $highlight;
      }
    }
  }
  a {
    color: #fff;
    text-decoration: none;
  }
}
.sponge-logo {
  width: 150px;
  margin: 30px 0 50px;
}
.login {
  background: #222629;
  color: $background;
  text-align: center;
  position: static;
  margin: 20px auto;
  padding: 20px;
  width: 260px;
  height: auto;
  form {
    text-align: left;
    label {
      display: block;
      text-align: left;
      margin: 10px 0;
      .checkbox {
        background: #f60;
      }
    }
    input {
      display: block;
      padding: 10px;
      margin-bottom: 10px;
      border: none;
    }
    input[type='text'], input[type='password'] {
      width: 240px;
    }
    input[type='submit'] {
      margin-top: 10px;
      display: inline-block;
      background: $highlight;
      color: $background;
    }
    input[type='checkbox'] {
      display: inline-block;
    }
    span {
      font-size: 11px;
      &.remember {
        margin-left: 2px;
      }
      &.extra {
        color: #cccccc;
        margin-left: 10px;
      }
    }
  }
}
#main {
  margin-left: 300px;
  padding: 20px 30px;
  header {
    width: 100%;
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 30px;
    text-transform: uppercase;
    float: left;
    a {
      border: none;
    }
    li {
      display: inline-block;
      padding: 5px;
      border: 1px solid $foreground;
      line-height: normal;
      &:hover {
        background: $foreground;
        border: 1px solid $foreground;
        color: #fff;
      }
      &.current {
        background: $foreground;
        color: $background;
        border-color: $foreground;
      }
    }
    .crumbtrail {
      display: inline-block;
      float: left;
    }
    .account {
      display: inline-block;
      float: right;
    }
  }
  .project-preview {
    width: 31%;
    margin-right: 2%;
    margin-top: 20px;
    display: inline-block;
    border: 1px solid $highlight;
    border-radius: 5px;
    h3 {
      font-size: 16px;
      background: $highlight;
      color: $background;
      padding: 10px;
      margin: 0;
    }
    p {
      padding: 10px;
    }
    ul {
      padding: 10px;
      line-height: 20px;
    }
    &:nth-of-type(3n) {
      margin: 0;
    }
    .actions {
      padding: 0 10px 20px 10px;
    }
  }
  a {
    color: $foreground;
    text-decoration: none;
    border-bottom: 1px dotted $foreground;
    &:hover {
      color: #8BCEDC;
      border-color: #8BCEDC;
    }
    &.blank {
      color: inherit;
      background: inherit;
      text-decoration: none;
      border: none;
      &:hover {
        color: inherit;
        background: inherit;
        text-decoration: none;
        border: none;
      }
    }
    &.action {
      font-size: 10px;
      text-transform: uppercase;
      font-weight: 500;
      padding: 5px;
      /*background: $highlight;
      color: $background;
      border: none;*/

      background: $highlight;
      border: 1px solid $highlight;
      color: $background;

      &:hover {
        background: $tertiary;
        border-color: $tertiary;
        color: $background;
      }

      &.secondary {
        background: none;
        border: 1px solid $foreground;
        color: $foreground;
      }
      &.right {
        float: right;
      }
    }
  }
  h1 {
    font-size: 32px;
    color: $highlight;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 20px;
    color: $foreground;
    font-weight: 700;
    margin: 30px 0 10px 0;
  }
  h3 {
    font-size: 12px;
    margin: 0 0 10px;
    strong {
      color: $highlight;
    }
  }
  input {
    display: inline-block;
    clear: left;
    font-size: 12px;
    min-width: 200px;
    float: right;
    &.filter {
      padding: 5px;
    }
  }
}
p {
  line-height: 16px;
  margin-bottom: 15px;
}
input, textarea {
  font-family: "museo-slab", serif;
}
.info-box {
  border: 1px dashed $foreground;
  display: inline-block;
  float: right;
  padding: 10px;
  min-width: 250px;
  margin: 0 0 10px 10px;
  clear: both;
  hr {
    margin: 0.5em 0;
    border-style: dashed;
  }
  li {
    line-height: 24px;
    strong {
      background: $primary;
      color: $background;
      padding: 5px;
      line-height: 30px;
      margin-right: 10px;
    }
  }
  table {
    td {
      padding: 10px;
    }
  }
}
.project-info {
  margin-top: 30px;
  display: block;
  li {
    font-weight: 700;
    strong {
      background: $primary;
      color: $background;
      padding: 5px;
      line-height: 30px;
      margin-right: 10px;
    }
  }
}
strong {
  font-weight: 700;
}
textarea {
  min-width: 50%;
  min-height: 50px;
  padding: 10px;
  font-size: 14px;
  font-weight: 300;
  margin: 10px 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px dotted #ccc;
  margin: 1em 0;
  padding: 0;
}
table.full {
  width: 100%;
  margin-top: 20px;
  cursor: pointer;
  th, td {
    padding: 10px;
    text-align: left;
  }
  th {
    font-weight: 700;
    min-width: 50px;
  }
  td {
    &.priority {
      border-right: 5px solid #e6e6e6;
      &.high {
        border-color: $highlight;
      }
      &.medium {
        border-color: #FEBD19;
      }
      &.low {
        border-color: #8BCEDC;
      }
    }
  }
  tr {
    background: #fff;
    &:first-child {
      background: none;
      &:hover {
        background: none;
      }
    }
    &:nth-of-type(2n) {
      background: #eee;
    }
    &:hover {
      background: #dddddd;
    }
    &.resolved {
      background: none;
      opacity: 0.3;
      &:hover {
        background: #dddddd;
        opacity: 1;
      }
      td {
        &.priority {
          border: none;
        }
      }
    }
  }
}